/**
 * Frontend style for this plugin
 *
* @author  Marco Di Bella
* @package call-to-action
*/


/** Mixins */

@import "mixins/_responsive";




.cta-box {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 4px;
    max-width: 100%;

    @include breakpoint(medium) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}


.cta-box-columns {
    display: flex;
    gap: 2rem;
}


.cta-box-column {
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    width: auto;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    &.cta-box-column-with-image {
        display: none;

        @media screen and (min-width: 800px) {
            display: block;
            flex-grow: 0 !important;
            flex-shrink: 0 !important;
            width: 100px;
        }
    }
}


.cta-image {
    width: 100px;
    height: 100px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}


.cta-headline,
.cta-summary {
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        margin-bottom: 1.5rem;
    }
}


.cta-headline {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;

    @include breakpoint(medium) {
        font-size: 2rem;
    }
}


.cta-summary {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3;

    @include breakpoint(medium) {
        font-size: 1.25rem;
    }
}


.cta-button {
    display: block;

    a {
        border-bottom: unset;
        border-radius: 4px;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-stretch: 90%;
        font-size: .875rem;
        letter-spacing: .5px;
        padding: .75rem 2rem;
        color: hsl(0, 0%, 100%);
        background: hsl(208, 83%, 50%);
        cursor: pointer;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);

        &:active {
            position: relative;
            top: 2px;
        }

        &:focus,
        &:hover {
            border-bottom: unset;
            outline: unset;
            color: hsl(0, 0%, 100%);
            background: hsl(208, 83%, 65%);
            text-decoration: none !important;
        }
    }
}
