/**
 * Backend style for this plugin
 *
* @author  Marco Di Bella
* @package call-to-action
*/


.post-type-cta .wp-list-table {

    .column-id {
        width: 5%;
    }

    .column-shortcode {
        width: 20%;
    }


    td.column-shortcode {
        display: flex;
        align-items: center;
        gap: 1rem;

        code {
            white-space: nowrap;
            display: flex;
        }

        & > * {
            height: 28px !important;
            align-items: center;
        }
    }

}


.message-copied-cta-to-clipboard {
    display: none;

    span {
        color: #27ae60; // green
    }
}
